@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    <tiltle>WELCOME PAGE: sử dụng hộp thoại Prompt để nhập 
    liệu và sử dụng câu lệnh document.write đê hiển thị dữ liệu
    và viết Javascript dưới dạng INLINE</tiltle>
}

<body>
    <script language="javascript">
        var Ten, Tuoi; //khai báo biến

        //Nhập dữ liệu
        Ten = prompt("Hãy nhập tên của bạn", "");
        Tuoi = prompt("Hãy nhập tuổi của bạn", "10");

        //hiển thị dữ liệu
        document.write("Hello <b>" + Ten + "</b> <br />");
        document.write("Tuôi của bạn là <ul>" + Tuoi + "</u>");
    </script>
</body>
